{% extends 'base.html' %}
{% load static %}

{% block content %}

    <main>

        <div class="slider-area gray-bg position-relative">
            <div class="single-slider d-flex align-items-center slider-height2">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-caption hero-caption2">
                                <h2>Incoming Requests</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="featured_candidates_area section-bg2 candidate_page_padding">
            <div class="container">
                <div class="row">
                    {% for object in object_list %}
                        <div class="col-md-6 col-lg-3">
                            <div class="single_candidates text-center">
                                {% if object.candidate.avatar %}
                                    <div class="thumb">
                                        <img src="{{ object.candidate.avatar.url }}" alt="">
                                    </div>
                                {% else %}
                                    <div class="thumb">
                                        <img src="{% static 'assets/img/blog/unnamed.jpg' %}" alt="" width="100%">
                                    </div>
                                {% endif %}

                                <a href="{% url 'jobs:apply_detail' object.id %}">
                                    <h4>{{ object.candidate.full_name }}</h4></a>
                                    <p>({{ object.job.category.name }} id: {{ object.job.id }})</p>
                                {% if object.to_accept %}
                                    <img src="{% static 'assets/img/icon/gal.png' %}" alt="" width="10%">
                                {% endif %}
                                {% if object.to_refuse %}
                                    <img src="{% static 'assets/img/icon/HTB1Z2NVH7yWBuNjy0Fpq6yssXXa1.jpg' %}"
                                         alt="" width="8%">
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

    </main>

{% endblock %}
