{% extends 'base.html' %}
{% load static %}

{% block content %}
    <main>

        <div class="slider-area gray-bg position-relative">
            <div class="single-slider d-flex align-items-center slider-height2">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-caption hero-caption2">
                                <h2>Blog</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <section class="blog_area section-padding" >
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mb-5 mb-lg-0">
                        <div class="blog_left_sidebar">
                            {% for object in objects %}
                                <article class="blog_item">
                                    <div class="blog_item_img">
                                        <img class="card-img rounded-0" src="{{ object.image.url }}" alt="">
                                        <a href="{% url 'blogs:blog_detail' object.slug %}" class="blog_item_date">
                                            <h3>{{ object.created_date.day }}</h3>
                                            <p>{{ object.created_date|date:"F" }}</p>
                                        </a>
                                    </div>
                                    <div class="blog_details">
                                        <a class="d-inline-block" href="{% url 'blogs:blog_detail' object.slug %}">
                                            <h2 class="blog-head" style="color: #2d2d2d;">{{ object.title }}</h2>
                                        </a>
                                        <p>{{ object.description1|safe|slice:100 }}</p>
                                        <ul class="blog-info-link">
                                            <li><a href="#"><i
                                                    class="fa fa-user"></i>{{ object.tags.first }}, {{ object.tags.last }}...</a>
                                            </li>
                                            <li><a href="#"><i
                                                    class="fa fa-comments"></i> {{ object.comment_set.count }}</a></li>
                                        </ul>
                                    </div>
                                </article>
                            {% endfor %}
                            <nav class="blog-pagination justify-content-center d-flex">
                                {% include 'pagination.html' %}
                            </nav>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        {% include 'blog/sidebar.html' %}
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}