{% extends 'base.html' %}
{% load static %}

{% block content %}

    <main>

        <div class="slider-area gray-bg position-relative">
            <div class="single-slider d-flex align-items-center slider-height2">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-caption hero-caption2">
                                <h2>{{ obj.category }}</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <section class="blog_area single-post-area section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 posts-list">
                        <div class="single-post">
                            <div class="feature-img">
                                <img class="img-fluid" src="{{ obj.image.url }}" alt="">
                            </div>
                            <div class="blog_details">
                                <h2 style="color: #2d2d2d;">{{ obj.title }}</h2>
                                <ul class="blog-info-link mt-3 mb-4">
                                    <li><a href="#"><i class="fa fa-user"></i>
                                        {% for tag in obj.tags.all %}
                                            {{ tag }},
                                        {% endfor %}
                                    </a></li>
                                    <li><a href="#"><i class="fa fa-comments"></i> {{ obj.comment_set.count }} Comments</a>
                                    </li>
                                </ul>
                                <p class="excert">
                                    {{ obj.description1|safe }}
                                </p>
                                {% if obj.the_main_part %}
                                    <div class="quote-wrapper">
                                        <div class="quotes">
                                            {{ obj.the_main_part|safe }}
                                        </div>
                                    </div>
                                {% endif %}
                                {% if obj.description2 %}
                                    <p>
                                        {{ obj.description2|safe }}
                                    </p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="navigation-top">
                            <div class="d-sm-flex justify-content-between text-center">
                                <p class="like-info"><span class="align-middle"><i class="fa fa-heart"></i></span> Lily
                                    and
                                    4
                                    people like this</p>
                                <div class="col-sm-4 text-center my-2 my-sm-0">
                                </div>
                                <ul class="social-icons">
                                    <li><a href="https://www.facebook.com/sai4ull"><i class="fab fa-facebook-f"></i></a>
                                    </li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                                    <li><a href="#"><i class="fab fa-behance"></i></a></li>
                                </ul>
                            </div>
                            <div class="navigation-area">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
                                        <div class="thumb">
                                            <a href="#">
                                                <img class="img-fluid" src="{% static 'assets/img/post/preview.jpg' %}"
                                                     alt="">
                                            </a>
                                        </div>
                                        <div class="arrow">
                                            <a href="#">
                                                <span class="lnr text-white ti-arrow-left"></span>
                                            </a>
                                        </div>
                                        <div class="detials">
                                            <p>Prev Post</p>
                                            <a href="#">
                                                <h4 style="color: #2d2d2d;">Space The Final Frontier</h4>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
                                        <div class="detials">
                                            <p>Next Post</p>
                                            <a href="#">
                                                <h4 style="color: #2d2d2d;">Telescopes 101</h4>
                                            </a>
                                        </div>
                                        <div class="arrow">
                                            <a href="#">
                                                <span class="lnr text-white ti-arrow-right"></span>
                                            </a>
                                        </div>
                                        <div class="thumb">
                                            <a href="#">
                                                <img class="img-fluid" src="{% static 'assets/img/post/next.jpg' %}"
                                                     alt="">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="blog-author">
                            <div class="media align-items-center">
                                <img src="{{ obj.author_image.url }}" alt="">
                                <div class="media-body">
                                    <a href="#">
                                        <h4>{{ obj.author_name }}</h4>
                                    </a>
                                    <p>{{ obj.the_author_is_words }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="comments-area">
                            <h4>{{ obj.comment_set.count }} Comments</h4>
                            {% for i in comment %}
                                <div class="comment-list">
                                    <ul class="unordered-list">
                                        <li>
                                            <div class="single-comment justify-content-between d-flex">
                                                <div class="user justify-content-between d-flex">
                                                    <div class="thumb">
                                                        {% if i.image %}
                                                            <img src="{{ i.image.url }}" alt="">
                                                        {% else %}
                                                            <img src="{% static 'assets/img/blog/unnamed.jpg' %}"
                                                                 alt="">
                                                        {% endif %}

                                                    </div>
                                                    <div class="desc">
                                                        <p class="comment">
                                                            {{ i.message }}
                                                        </p>
                                                        <div class="d-flex justify-content-between">
                                                            <div class="d-flex align-items-center">
                                                                <h5>
                                                                    <a href="#">{{ i.name }}</a>
                                                                </h5>
                                                                <p class="date">{{ i.created_date|date:"F d, Y" }}
                                                                    at {{ i.created_date|date:"H:i" }}pm</p>
                                                            </div>
                                                            <div class="reply-btn">
                                                                <a href="?reply={{ i.id }}#comment"
                                                                   class="btn-reply text-uppercase">reply</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% for j in i.get_children %}
                                                <ul>
                                                    <li>
                                                        <div class="single-comment justify-content-between d-flex">
                                                            <div class="user justify-content-between d-flex">
                                                                <div class="thumb">
                                                                    {% if j.image %}
                                                                        <img src="{{ j.image.url }}" alt="">
                                                                    {% else %}
                                                                        <img src="{% static 'assets/img/blog/unnamed.jpg' %}"
                                                                             alt="">
                                                                    {% endif %}
                                                                </div>
                                                                <div class="desc">
                                                                    <p class="comment">
                                                                        {{ j.message }}
                                                                    </p>
                                                                    <div class="d-flex justify-content-between">
                                                                        <div class="d-flex align-items-center">
                                                                            <h5>
                                                                                <a href="#">{{ j.name }}
                                                                                    <code>reply to</code>
                                                                                    {{ j.reply_to_comment.name }}</a>
                                                                            </h5>
                                                                            <p class="date">{{ j.created_date|date:"F d, Y" }}
                                                                                at {{ j.created_date|date:"H:i" }}pm </p>
                                                                        </div>
                                                                        <div class="reply-btn">
                                                                            <a href="?reply={{ j.id }}#comment"
                                                                               class="btn-reply text-uppercase">reply</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            {% endfor %}
                                        </li>
                                    </ul>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="comment-form" id="comment">
                            <h4>Leave a Reply</h4>
                            <form class="form-contact comment_form" action="#" id="commentForm" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            {{ form.name }}
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            {{ form.email }}
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            {{ form.image }}
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                        {{ form.message }}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="button button-contactForm btn_1 boxed-btn">Post Comment
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        {% include 'blog/sidebar.html' %}
                    </div>
                </div>
            </div>
        </section>

    </main>

{% endblock %}